.button {
    margin: 4px 2px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #112233;
    cursor: default;
    transition: 0.25s;
}

.button:hover{
    box-shadow: 0 0 5px #AABBCC;
    transition: 0.25s;
}