.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  flex-grow: 0;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #000000, #ffffff);
  color: transparent;
  background-clip: text;
  cursor: default;
}

.sections {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.sections.mobile {
  width: 95vw;
  background-color: black;
}

.section {
  cursor: pointer;
  transition: 0.5s;
}

.section:hover {
  transition: 0.5s;
  color: #000000;
  text-shadow: 0 0 2px #444444;
}
