video {
  max-width: 100%;
}

.player {
  height: 100%;
  max-width: 95vw;
}

.controls {
  width: 100%;
  height: 25px;
  position: relative;
  top: -25px;
  background: #fff;
}

.controls[data-state="hidden"] {
  display: none;
}

.controls[data-state="visible"] {
  display: block;
}

.controls > * {
  float: left;
  width: 3.90625%;
  height: 100%;
  margin-left: 0.1953125%;
  display: block;
}

.controls button {
  border: none;
  cursor: pointer;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

img {
  height: 90%;
}

.controls > *:first-child {
  margin-left: 0;
}

.controls .progress {
  cursor: pointer;
  width: 75.390625%;
}

progress {
  height: 0.6em;
  transition: 400ms;
}

progress:hover {
  height: 80%;
  transition: 400ms;
}

#progress {
  width: 100%;
}

#volume-controls {
  transform-origin: left;
  transform: rotate(270deg) translate(17%, 60%);
  -webkit-transform: rotate(270deg) translate(17%, 60%); /*Webkit*/
  -moz-transform: rotate(270deg) translate(17%, 60%); /*FireFox*/
  width: 500%;
}

.player[data-fullscreen="true"] video::-webkit-media-controls {
  display: none !important;
}
.player[data-fullscreen="true"] {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
}
.player[data-fullscreen="true"] video {
  position: absolute;
  margin: auto;
  top: 50%;
  transform: translate(-50%, -50%);
}
.player[data-fullscreen="true"] .controls {
  position: absolute;
  top: 97vh;
  height: 3vh;
  width: 100%;
  z-index: 2147483647;
}
